/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Estilos del cuerpo */
body {
    min-height: 100vh;
    background-color: #f0f0f0; /* Gris muy claro */
    display: grid;
    place-items: center;
}

/* Estilos de la calculadora */
.calculadora {
    background-color: #15173c;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para resaltar la calculadora */
}

/* Estilos de la pantalla */
.pantalla {
    grid-column: 1 / -1;
    background-color: #090c31;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
    overflow: hidden;
}
/*
/* Estilos de los botones */

.btn {
    background-color: #2C3E50;
    color: #FFFFFF;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    font-size: 1.2rem;
    font-weight: 600;
}
.btn:hover {
    background-color: #090c31;
}

#cero {
    grid-column: span 2;
}

#igual {
    grid-row: span 2;
    background-color: #e6394a;
}

#igual:hover {
    background-color: #6e506c;
}

/* Estilos para accesibilidad */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
#c, #borrar, #igual {
    background-color: #806a9c;
}
